* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.social-links {
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
  padding: 1% 10%;
}

#social div {
  display: flex;
}
#social p {
  margin-right: 20px;
}

.social-links {
  top: 50px;
  right: 70px;
  position: fixed;
  color: black;
}
